[submodule "third-party/googletest"]
	path = third-party/googletest
	url = https://github.com/google/googletest.git
[submodule "third-party/nlohmann/json"]
	path = third-party/nlohmann
	url = https://github.com/nlohmann/json.git
[submodule "third-party/nlohmann"]
	path = third-party/nlohmann
	url = https://github.com/nlohmann/json.git
[submodule "third-party/hiredis"]
	path = third-party/hiredis
	url = https://github.com/redis/hiredis.git
